@page
@using ServisInjection.Components
@model ServisInjection.Pages.FileModel
@{
    ViewData["Title"] = "Pobrane z pliku";
}


<div>
    @(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))
</div>
